*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: black;
    
}

.btn {
    background-color: rgb(29, 161, 242);
    height: 35px;
    border-radius: 9999px;
    padding: 0 16px;
}

.btn-gray {
    color: white;
    background-color: rgb(249, 55, 55);
    display: grid;
    place-items: center;

}

.btn:hover {
    color: white;
}

a {
    font-size: 13px;
    color: rgb(29, 161, 242);
    text-decoration: none;
}

a.btn-gray {
    color: white;
}

a:visited {
    color: rgb(29, 161, 242);
}

a.btn-gray:visited {
    color: white;
}

.container {
    padding: 12px 5px;
    display: flex;
    justify-content: center;
}

.main {
    width: 600px;
    border: 1px solid rgb(113, 118, 123);
}


/*
Main
*************************************/

.main {
    text-align: left;
}

.main .main-header {
    display: flex;
    align-items: center;
}

.main .main-header .logo {
    width: 45px;
}

.main .main-header h1 {
    font-size: 25px;
    line-height: 20px;
    font-weight: bold;
    margin-left: 50px;
    color: white;
}

.main .main-header {
    padding: 10px;
    border-bottom: 1px solid rgb(113, 118, 123);
}


/*
Home
*************************************/



.home .x-post {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid rgb(47, 51, 54);
    gap: 12px;
}

.home .x-post .my-icon {
    flex-shrink: 0;
}

.home .x-post .my-icon img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.home .x-post .input-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.home .x-post .edit-image {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(113, 118, 123);
}

.home .x-post .input-area input[type=text] {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 0;
    margin-bottom: 4px;
}

.home .x-post .input-area input[type=text]:focus {
    outline: none;
}

.home .x-post .input-area input[type=text]::placeholder {
    color: rgb(113, 118, 123);
}

.home .x-post .input-area textarea {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 0;
    width: 100%;
    min-height: 120px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.home .x-post .input-area textarea:focus {
    outline: none;
}

.home .x-post .input-area textarea::placeholder {
    color: rgb(113, 118, 123);
}

.home .x-post .input-area .bottom-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid rgb(47, 51, 54);
    margin-top: 12px;
}

.home .x-post .input-area .bottom-area .mb-0 {
    display: flex;
    align-items: center;
}

.home .x-post .input-area .bottom-area input[type=file] {
    max-width: 200px;
    font-size: 13px;
    color: rgb(29, 155, 240);
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 12px;
}

.home .x-post .input-area .bottom-area input[type=file]::file-selector-button {
    background: transparent;
    border: none;
    color: rgb(29, 155, 240);
    cursor: pointer;
    font-size: 13px;
    padding: 0;
    margin-right: 8px;
}

.home .x-post .input-area .bottom-area input[type=file]::file-selector-button:hover {
    background: rgba(29, 155, 240, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 0;
}

.home .x-post .input-area .bottom-area input[type=file]::file-selector-button::before {
    content: 'Choose file';
}

.home .x-post .input-area .bottom-area .btn {
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 9999px;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.home .x-post .input-area .bottom-area .btn:hover {
    background-color: rgb(26, 140, 216);
}

#upload-status {
    display: none;
    color: rgb(29, 155, 240);
    font-size: 14px;
    margin-top: 8px;
}




.home .x-list .x {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(113, 118, 123);
}

.home .x-list .x .user {
    width: 80px;
    padding: 5px 15px 10px 10px;
}

.home .x-list .x .user img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(235, 238, 240);
}

.home .x-list .x .name {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.home .x-list .x .name a {
    color: rgb(21, 32, 43);
}

.home .x-list .x .name a .nickname {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.home .x-list .x .name a .datetime {
    padding-left: 10px;
    color: white;
    font-size: 14px;
}

.home .x-list .x .name .small-menu {
    padding-right: 10px;
}

.home .x-list .x .content {
    width: calc(100% - 60px);
}

.home .x-list .x .content p {
    font-size: 16px;
    padding: 8px 0 0 0;
    margin-bottom: 8px;
    color: white;
}
.p3{
    text-align: center;
    margin-top: 2vw;
    color: white;
}

.home .x-list .x .content img.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
    border: 1px solid rgb(197, 199, 201);
}

.home .x-list .x .content .icon-list {
    display: flex;
    margin-top: 15px;
}

.home .x-list .x .content .icon-list .comment img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.home .x-list .x .content .icon-list .comment-count {
    width: 25px;
    margin-right: 20px;
    padding-top: 2px;
    color: #474747;
}

.home .x-list .x .content .icon-list .like img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.home .x-list .x .content .icon-list .like-count {
    width: 25px;
    padding-top: 2px;
    color: white;
}

.home .x-list .x .content .icon-list .comment i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(113, 118, 123);
}

.home .x-list .x .content .icon-list .comment:hover i {
    color: rgb(29, 155, 240);
}

.home .x-list .x .content .icon-list .comment-count {
    width: 25px;
    margin-right: 20px;
    padding-top: 2px;
    color: white;
}

.comment-section {
    display: none;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgb(47, 51, 54);
}

.comment-form input[type=text],
.comment-form textarea {
    background: transparent;
    border: 1px solid rgb(47, 51, 54);
    color: white;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.comment-form textarea {
    min-height: 60px;
    resize: none;
}

.comment-form input:focus,
.comment-form textarea:focus {
    outline: none;
    border-color: rgb(29, 155, 240);
}

.comment-form-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-comment {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
}

.btn-comment:hover {
    background-color: rgb(26, 140, 216);
}

.comments-list {
    margin-top: 12px;
}

.comment-item {
    padding: 12px 0;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.comment-name {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.comment-time {
    color: rgb(113, 118, 123);
    font-size: 13px;
    margin-left: 8px;
}

.comment-body {
    color: white;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.popover {
    background-color: black !important;
    border: 1px solid rgb(47, 51, 54) !important;
}

.popover-body {
    background-color: black !important;
    color: white !important;
}

.popover-body a {
    color: white !important;
    display: block;
    padding: 4px 0;
}

.popover-body a:hover {
    color: rgb(29, 155, 240) !important;
}

.bs-popover-start > .popover-arrow::after,
.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
    border-left-color: black !important;
}

.bs-popover-start > .popover-arrow::before,
.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
    border-left-color: rgb(47, 51, 54) !important;
}


@media screen and (max-width:500px) {
    .home .x-list .x .user {
        width: 60px;
        padding: 5px 10px 10px 5px;
    }
    .bottom-area .btn {
        margin-top: 10px;
    }
}