{% extends 'base.html' %}

{% load util_tags %}

<!-- {% util_date x.created_at %} -->

{% load static %}

{% block content %}

<div class="main">
 <img src="{% static 'image/X_logo.jpeg' %}" alt="" srcset="" class="logo">
 <h1>Edit</h1>
</div>

<div class="x-post">
<div class="my-icon">
<img src="{% static 'image/sample-woman.jpg' %}" alt="" class="">
</div>
<div class="input-area">
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="text" name="name" placeholder="your name" value="{{ x.name }}" maxlength="14" required>
<textarea name="body" id="" placeholder="what's happening" maxlength="140" required>
    {{ x.body}}
</textarea>
{% if x.image is not Null %}
<img src="{{ x.image.url }}" alt="" class="edit-image">
{% endif %}
<div class="bottom-area">
<div class="mb-0">
<input type="file" class="form-control form-control-sm" name="image">
</div>
<a href="{% url 'post1' %}" class="btn btn-gray">cancel</a>
<button class="btn" type="submit">
update
</button>
</div>
</form>
</div>

</div>
{% endblock %}