{% extends 'base.html' %}

{% load util_tags %}

{% util_date x.created_at %}

{% load static %}

{% block content %}

<div class="main">
    <div class="main-header">
        <img src="{% static 'image/X_logo.jpeg' %}" alt="" srcset="" class="logo">
        <h1>Home</h1>
    </div>

    <div class="x-post">
        <div class="my-icon">
            <img src="{% static 'image/sample-icon.jpg' %}" alt="">
        </div>

        <div class="input-area">
            <form action="{% url 'x_add ' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="name" placeholder="enter your name" maxlength="14" required>
                <textarea name="body" placeholder="whats happening" maxlength="140" required></textarea>
                <div class="bottom-area">
                    <div class="mb-0">
                        <input type="file" class="form-control form-control-sm" name="image">
                    </div>
                    <button class="btn" type="submit">post</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if xs.count == 0 %}
<p class="p3">There is no x now</p>
 {% else %}
   {% for x in xs %}

<div class="x-list">
<div class="x">
<div class="user">
<a href="#">
    <img src="{ % static 'image/sample-icon.jpg' % }" alt="">
</a>
</div>
<div class="content">
<div class="name">
<a href="#">
    <span class="nickname">
        {{ x.name }}
    </span>

    <span class="datetime">
{% util_date x.created_at|date:"y/m/d H:i:s" %}
    </span>
</a>

<img src="{% static 'image/icon-small-menu.svg' %}" alt="" class="small-menu js-popover" 
data-bs-containter="body"
data-bs-toggle="popover"
data-bs-placementlift="left"
data-bs-content="<a href='{% url 'x_edit' x.id %}'>edit</a><br>
<a href='{% url 'x_delete' x.id %}'>x_delete</a>"
data-bs-html="True"
>
</div>
<p>
{{ x.body }}
</p>
{% if x.image is not Null %}
<a href="{{ x.image.url }}" target="_blank"><img src="{{ x.image.url }}" alt="" class="post-image"></a>
{% endif %}
<div class="icon-list">
<span class="like js-like" data-x-id="{{ x.id }}" >
<img src="{% static 'image/icon-heart-gray.svg' %}" alt="like-icon">
</span>
<span class="like-count js-like-count">
{{ x.like_count }}
</span>
</div>
</div>
</div>
{% endfor %}
{% endif %}
</div>
<script src="{% static 'js/like.js' %}"></script>

{% endblock %}




